{% extends "base.html" %}

{% block content %}
<h1>Contact US</h1>
<p>You can use our social or by Telephone</p>

<h3>{{ name|capfirst|upper|title }}</h3>
<p>
{{my_name}}, {{ my_number }}
{{ my_list}}
</p>
{{ my_html|slugify }}

<ul>
{% for my_sublist in my_list %}
    {% if my_sublist == 456 %}
        <li>{{ forloop.counter}} - {{my_sublist|add:23 }}</li>
    {% elif my_sublist == 'ibm' %}
        <li>This is a technical organisation</li>
    {% else %}
        <li>{{ forloop.counter}} - {{my_sublist}}
    {% endif %}

{% endfor %}
</ul>
{% endblock content %}